Package            Version
------------------ -------
googletrans        3.0.0
Pillow             10.1.0

PyMuPDF            1.23.8
PyMuPDFb           1.23.7
PySide6            6.6.0
PySide6-Addons     6.6.0
PySide6-Essentials 6.6.0
pytesseract        0.3.10
